/* ================================ */
/* ====== IMPORTED FONTS ========== */
/* ================================ */
@import url('https://fonts.googleapis.com/css?family=Lora|Playfair+Display&display=swap');

/* ================================ */
/* ========== VARIABLES ============== */
/* ================================ */
:root {
  --main-font: 'Lora';
  --paragraph-font: 'Playfair Display';
  --blue: #03C9C7;
  --pink: #D20384;
  --gray: #f2f5f7;
}

/* ================================ */
/* ========== GENERAL ============= */
/* ================================ */
body {
  margin: 0px;
  text-align: center;
  font-family: var(--main-font);
}
.slide {
  height: 100vh;
  width: 100vw;
}

/* ================================ */
/* ========== HEADER ============== */
/* ================================ */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 5px;
  min-height: 5vh;
  background: ghostwhite;
}

/* ============================= */
/* ======= NAVIGATION ========== */
/* ============================= */
span {
  color: var(--pink);
  font-weight: 900;
  font-size: 2em;
  padding-left: 5px;
}
#main-nav{
  display: none;
}
.navbar-toggle{
  -moz-transition: all .5s linear;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}
.rotate{
  -moz-transform:rotate(90deg);
  -webkit-transform:rotate(90deg);
  transform:rotate(90deg);
}
.nav-item {
  padding: 10px;
  text-decoration: none;
  color: black;
}
.nav-item:hover{
  color: #D20384;
}

/* ================================ */
/* ========= LANDING PAGE ========= */
/* ================================ */

.slide-one-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: #0A2844;
  color: white;
}
.slide-one{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.slide-one-text{
  text-align: center;
}
.slide-one-text h1{
  margin: 0;
  font-size: 4em;
  color: #D20384;
}
.slide-one-text h5 {
  margin-top: 0;
  font-size: 1.5em;
  font-weight: 100;
}
/* see work button */
.see-work-btn{
  color: white;
  border: 1px solid white;
  font-family: var(--main-font);
  font-size: 1em;
}
.see-work-btn:hover {
  color: #D20384;
  border: 1px solid #D20384;
}
.see-work-btn:focus{
  color: black;
  border: 1px solid white;
}

/* ================================ */
/* ===== SLIDE TWO -- ABOUT ======= */
/* ================================ */

#about h1 {
  margin-top: 50px;
}
/* repeats on other slides */
hr {
  width: 10%;
  margin: 0 auto 10px auto;
}
.paragraph {
  padding: 25px;
  margin: 0 auto;
  text-align: justify;
  max-width: 75%;
}
.headshot {
  width: 50%;
  border-radius: 10px;
}

/* ================================ */
/* === SLIDE THREE -- PROJECTS === */
/* ================================ */

.projects {
  background-color: var(--gray);
  /* border: 1px solid var(--gray); */
  height: 150vh;
}
#projects h1 {
  padding-top: 50px;
}
.project-cards {
  padding-top: 30px;
}
.project-one {
  background-image: url('../images/wethebestgifs.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  height: 25vh;
}
.project-two {
  background-image: url('../images/undertheradar.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25vh;
}
.project-three {
  background-image: url('../images/parkstracker.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25vh;
}
.project-four {
  background-image: url('../images/memeterest.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25vh;
}
.photo-text {
  opacity: 0;
  background-color: white;
  height: 25vh;
}
.six:hover .photo-text{
  box-shadow: 0 0 10px #ccc;
  opacity: 100;
}
.six {
  margin-top: 10px;
  margin-bottom: 10px;
}
.fa-github {
  font-size: 400%;
  margin-top: 70px;
  text-shadow: 1px 1px 2px var(--pink);
}
.fa-github:hover{
  color: var(--pink);
  text-shadow: 1px 1px 2px black;
  cursor: pointer;
}
/* ================================ */
/* === SLIDE FOUR -- RESUME ===  */
/* ================================ */
#resume h1 {
  padding-top: 50px;
}

/* ============================== */
/* === SLIDE FIVE -- CONTACT === */
/* ============================= */
.contact {
  background-color: var(--gray);
}
#contact h1 {
  padding-top: 50px;
}
/* ========================= */
/* ======== FOOTER ========= */
/* ========================= */
footer {
  background: gray;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ================================= */
/* ========  MEDIA QUERIES ========= */
/* ================================= */

@media screen and (min-width: 600px) {
  /* === NAV === */
  #main-nav{
    display: block;
  }
  .navbar-toggle {
    display: none;
  }
  .nav-item {
    padding: 10px;
    text-decoration: none;
    color: black;
  }
  .nav-item:hover{
    color: #D20384;
  }
  /* === headshot === */
  .headshot{
    max-width: 25%;
  }
  /* === PROJECTS SLIDE ===  */
  .projects {
    background-color: var(--gray);
    border: 1px solid var(--gray);
    height: 100vh;
  }
}
