/* ================================ */
/* ====== IMPORTED FONTS ========== */
/* ================================ */
@import url('https://fonts.googleapis.com/css?family=Lora|Roboto+Condensed&display=swap');

/* ================================ */
/* ========== VARIABLES ============== */
/* ================================ */
:root {
  --main-font: 'Lora';
  --paragraph-font: 'Roboto Condensed';
  --blue: #03C9C7;
  --pink: #D20384;
  --gray: #f2f5f7;
  --navy: #0A2844;
  --image-url: url('../images/philly.jpg');
}

/* ================================ */
/* ========== GENERAL ============= */
/* ================================ */
body {
  margin: 0px;
  text-align: center;
  font-family: var(--main-font);
}
.slide {
  height: 100vh;
  width: 100vw;
}
/* ================================ */
/* ========== HEADER ============== */
/* ================================ */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 5px;
  min-height: 5vh;
  background: ghostwhite;
}
/* ================================ */
/* == TO TOP OF PAGE BUTTON ======= */
/* ================================ */
  /* css help from getflywhel */
/* .top{
  transition: all .25s ease-in-out;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 2vh;
  cursor: pointer;
  color: var(--pink);
}
.fa-arrow-circle-up{
  font-size: 200%;
}
.fa-arrow-circle-up:hover{
  color: black;
}
.show {
  visibility: visible;
  opacity: 1;
}
.hide {
  visibility: hidden;
  opacity: 0;
} */
/* ============================= */
/* ======= NAVIGATION ========== */
/* ============================= */
span {
  color: var(--pink);
  font-weight: 900;
  font-size: 2em;
  padding-left: 5px;
}
#main-nav{
  display: none;
}
.navbar-toggle{
  -moz-transition: all .5s linear;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}
.rotate{
  transform:rotate(90deg);
}
.nav-item {
  padding: 10px;
  text-decoration: none;
  color: black;
}
.nav-item:hover{
  color: #D20384;
}

/* ================================ */
/* ========= LANDING PAGE ========= */
/* ================================ */

.slide-one-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: #0A2844;
  color: white;
}
.tinted-image {
  background:
    linear-gradient(
      rgba(10, 40, 68, 0.90),
      rgba(10, 40, 68, 0.95)
      ),
    var(--image-url) center center;
  background-size: cover;
}
.slide-one{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.slide-one-text{
  text-align: center;
}
.slide-one-text h1{
  margin: 0;
  font-size: 4em;
  color: #D20384;
}
.slide-one-text h5 {
  margin-top: 0;
  font-size: 1.5em;
  font-weight: 100;
}
/* see work button */
.see-work-btn{
  color: white;
  border: 1px solid white;
  font-family: var(--main-font);
  font-size: 1em;
}
.see-work-btn:hover {
  color: #D20384;
  border: 1px solid #D20384;
}
.see-work-btn:focus{
  color: black;
  border: 1px solid white;
}

/* ================================ */
/* ===== SLIDE TWO -- ABOUT ======= */
/* ================================ */

#about h1 {
  margin-top: 50px;
}
/* repeats on other slides */
hr {
  width: 10%;
  margin: 0 auto 10px auto;
}
.paragraph {
  padding: 25px;
  margin: 0 auto;
  text-align: justify;
  max-width: 75%;
}
.headshot {
  width: 50%;
  border-radius: 10px;
}

/* ================================ */
/* === SLIDE THREE -- PROJECTS === */
/* ================================ */

.projects {
  background-color: var(--gray);
  height: 160vh;
}
#projects h1 {
  padding-top: 50px;
}
.project-cards {
  padding-top: 30px;
}
.project-one {
  background-image: url('../images/wethebestgifs.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  height: 25vh;
}
.project-two {
  background-image: url('../images/undertheradar.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25vh;
}
.project-three {
  background-image: url('../images/parkstracker.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25vh;
}
.project-four {
  background-image: url('../images/memeterest.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25vh;
}
.six {
  margin-top: 10px;
  margin-bottom: 10px;
}
/* === hover text === */
.photo-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  opacity: 0;
  background-color: white;
  height: 25vh;
  transition: 0.7s;
  font-family: var(--paragraph-font);
  padding: 5px;
}
.photo-text h5 {
  margin-top: 0;
  padding-top: 0;
  font-size: 1em;
  color: var(--pink);
}
.photo-text button {
  border-color: var(--blue);
  border-radius: 0;
}
.photo-text button:hover {
  background-color: var(--blue);
  color: white;
  transition: 0.5s;
}
.six:hover .photo-text{
  box-shadow: 0 0 10px #ccc;
  opacity: 100;
}
/* === github icon === */
.fa-github-square {
  font-size: 400%;
  margin-top: 70px;
  text-shadow: 1px 1px 2px var(--pink);
  color: black;
}
.fa-github-square:hover{
  color: var(--pink);
  text-shadow: 1px 1px 2px black;
  cursor: pointer;
}
/* ================================ */
/* === SLIDE FOUR -- RESUME ===  */
/* ================================ */
.resume {
  height: 240vh;
}
#resume h1 {
  padding-top: 50px;
}
.four {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  font-family: var(--paragraph-font);
}
.four h4 {
  font-weight: 800;
  align-self: flex-start;
  color: var(--pink);
}
.proficient-in, .experience-with {
  padding-top: 10px;
}
.seven {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  font-family: var(--paragraph-font);
}
.eight {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  text-align: left;
  align-self: flex-start;
  font-family: var(--paragraph-font);
}
.title{
  font-weight: 800;
  text-transform: uppercase;
}
.job-company {
  font-size: 1.25em;
}
.description {
  color: gray;
}
/* === linkedin icon === */
.fa-linkedin {
  font-size: 400%;
  margin-top: 70px;
  text-shadow: 1px 1px 2px var(--pink);
  color: black;
}
.fa-linkedin:hover{
  color: var(--pink);
  text-shadow: 1px 1px 2px black;
  cursor: pointer;
}
/* ============================== */
/* === SLIDE FIVE -- CONTACT === */
/* ============================= */
.contact {
  background-color: var(--gray);
  height: 50vh;
}
#contact h1 {
  padding-top: 50px;
}
.contact-box{
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact-button{
  border-color: var(--pink);
  border-radius: 0;
  font-family: var(--paragraph-font);
}
.contact-button:hover{
  background-color: var(--pink);
  color: white;
  transition: 0.9s;
  border: none;
}
/* ========================= */
/* ======== FOOTER ========= */
/* ========================= */
footer {
  background-color: var(--navy);
  height: 15vh;
  color: gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer p {
  font-family: var(--paragraph-font);
  margin-bottom: 15px;
}
.social-icons i{
  padding: 0 10px;
  margin-top: 0;
  color: var(--gray);
}
.social-icons i:hover{
  color: var(--pink);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* ================================= */
/* ========  MEDIA QUERIES ========= */
/* ================================= */

@media screen and (min-width: 600px) {
  /* === NAV === */
  #main-nav{
    display: block;
  }
  .navbar-toggle {
    display: none;
  }
  .nav-item {
    padding: 10px;
    text-decoration: none;
    color: black;
  }
  .nav-item:hover{
    color: #D20384;
  }
  /* === headshot === */
  .headshot{
    max-width: 25%;
  }
  /* === PROJECTS SLIDE === */
  .projects {
    background-color: var(--gray);
    border: 1px solid var(--gray);
    height: 100vh;
  }
    /* === RESUME SLIDE === */
  .resume {
    height: 180vh;
  }
}
